# Configuración General de Django
DEBUG=True
SECRET_KEY=django-insecure-cambiame-en-produccion-12345

# Credenciales de Base de Datos MySQL
DB_NAME=nas_db
DB_USER=django_user
DB_PASSWORD=django_pass
DB_ROOT_PASSWORD=root_password
DB_HOST=db_server
DB_PORT=3306

# Credenciales de Almacenamiento (Simulación Windows Storage Server / SMB)
NAS_HOST=nas_server
NAS_SHARE=shared_nas
NAS_USER=nas_user
NAS_PASSWORD=nas_password
NAS_DOMAIN=WORKGROUP
NAS_PORT=1445 
